<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>建陞教練的工作室 | 首頁</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <h1 class="logo">建陞教練的工作室</h1>
        <nav>
            <ul>
                <li><a href=index.html>回首頁</a></li>
                <li><a href=bakery_workshop/bakery_workshop.html>服務項目</a></li>
                <li><a href=portfolio.html>成品範例</a></li>
                <li><a href=about.html>關於我們</a></li>
                <li><a href="./newProject/"><i class="bi bi-browser-chrome"></i></a></li>
            </ul>  
        </nav>
    </header>

    <main>
        <section class="product_photography">
          <div class="display">
            <div class="product_item_portrait">
              <img src="../img/1657047335767.jpg" alt="新聞 1">
            </div>
            <div class="product_item_portrait">
              <img src="../img/1657047329528.jpg" alt="新聞 2">
            </div>
            <div class="product_item_portrait">
              <img src="../img/20220124194153_IMG_0474 (1).jpg" alt="新聞 3">
            </div>
            <div class="product_item_portrait">
              <img src="../img/20220127163440_IMG_1091 (1).jpg" alt="新聞 1">
            </div>
            <div class="product_item_portrait">
              <img src="../img/1657047334243.jpg" alt="新聞 2">
            </div>
            <div class="product_item_portrait">
              <img src="../img/107270.jpg" alt="新聞 3">
            </div>  
          </div>
        </section>

        <section class="product_model">
            <div class="product_item_landscape">
              <img src="../img/gxx綠手手~.png" alt="新聞 1">
            </div>
            <div class="product_item_landscape">
              <img src="../img/人形a模特.png" alt="新聞 2">
            </div>
            <div class="product_item_landscape">
              <img src="../img/untitled11123.png" alt="新聞 3">
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright @ 2023 建陞教練的工作室 All Rights Reserved.</p>
    </footer>
</body>
</html>