:root {
  --clr-accent: rgb(239, 82, 173);
  --clr-accent2: rgb(239, 176, 213);
  --clr-rgba: rgb(255, 225, 240);
}

@keyframes change-color{
  0% {background-color: rgb(255, 171, 171);}
  20% {background-color: rgb(255, 222, 160);}
  40% {background-color: rgb(253, 253, 156);}
  60% {background-color: rgb(164, 255, 164);}
  80% {background-color: rgb(181, 181, 255);}
  100% {background-color: rgb(255, 181, 255);}
}

.box{
  width: 200px;
  height: 200px;
  background-color: rgb(225, 225, 225);
}

.box-animation{
  animation-name: change-color;/*動畫函數*/
  animation-duration: 1s;/*單次動畫秒數*/
  animation-iteration-count: infinite;/*重複次數*/
}

.btn {
  font-size: 2rex;
  font-weight: 700;
  padding: 0.5em 1em;
  color: var(--clr-accent);
  background-color: var(--clr-rgba);
  border: 5px solid var(--clr-accent);/*邊框*/
  border-radius: 5px;/*圓角*/

  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.btn:hover{
  transform: translate(0, -5px);
  background-color: var(--clr-accent2);
  color: var(--clr-rgba);
}  

@keyframes slideInLeft{
  from{
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
animate{
  animation-duration: 1s;
  animation-fill-mode: both;
}  
.slideInLeft {
  animation-direction: normal;  /* 這個值表示動畫的方向 */
  animation-fill-mode: forwards;  /* 這個值表示動畫結束後的樣式 */

  transform: translateX(-150px);
}

.infinite{
  animation-iteration-count: infinite;  /* 這個值表示動畫播放的次數 */
}
.slideInLeft{
  animation-name: slideInLeft;
}
.animate--ease{
  animation-timing-function: ease;  /* 這個值表示動畫的速度曲線 */
}

.animate.animate--infinite{
  animation-iteration-count:infinite;
}

.animate.animate--delay-1s{
  animation-delay: 1s;
}
.animate.animate--fast{
  animation-duration: 1s;
}
.animate.animate--slow{
  animation-duration: 2s;
}

@keyframes rotate{
 from{
  transform: rotate(0);
 }
 to{
  transform: rotate(360deg);
 }
}

.rotate{
  animation-name: rotate;
  animation-timing-function: linear;
  width: 150px;
  height: 30px;
  transform-origin:center;
}

@keyframes bounce{
  0% {transform: translateY(0);}
  20% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  50% {transform: translateY(0);}
  60% {transform: translateY(-15px);}
  80% {transform: translateY(0);}
  100% {transform: translateY(0);}
}

.bounce{
  animation-name: bounce;
}

