@import url("style.css");

/* Global 屬性 */
:root {
    --x2e-1d-x: rgba(74, 82, 101, 1);
    --list: rgba(226, 222, 212, 1);
    --blod: rgba(122, 250, 122, 1);
    --nz-JA-ij: rgba(226, 222, 212, 1);
    --font-family: "Acme-Regular", Helvetica;
    --font-weight: 400;
    --font-size: 32px;
    --letter-spacing: -0.35200000762939454px;
    --line-height: 150%;
    --font-style: normal;
    --box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    --collection-1-color: rgba(255, 255, 255, 1);
}

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid orange; */
    box-sizing: border-box;
}

.note-sans-black {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 900;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.brand {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    color: #fff;
}

/* 固定標籤屬性 */
html, body {
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}

header {
    height: 60px;
    width: 100%;
    padding: 0 5vh;
    position: fixed;
    top: 0;
    z-index: 100;
}

header .logo {
    position: absolute;
    left: 5vw;
    line-height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    text-indent: 0px;
}

header ul {
    position: absolute;
    right: 5vw;
    line-height: 60px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header li:hover, header li.active {
    color: orange;
}

nav a {
    text-decoration: none;
}

#navbar {
    transition: background-color 0.3s, color 0.3s; /* 平滑过渡效果 */
}

#navbar.sticky {
    /* 黏附在顶部时的样式 */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

img, .img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.colorful {
    animation: colorful linear 1s infinite;
}

@keyframes colorful {
    0% { color: rgb(221, 77, 77); }
    20% { color: rgb(80, 71, 21); }
    40% { color: rgb(150, 196, 137); }
    60% { color: rgb(25, 100, 100); }
    80% { color: rgb(171, 131, 192); }
    100% { color: rgb(98, 24, 59); }
}