@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

/* 簡化並重組代碼 */
.display, .Activity-display, .all-product-list, .product-list, .product-classification-card, .all-item-list {
    height: fit-content;
    overflow-y: hidden;
}

.display {
    width: 100%;
    min-height: 20vh;
}

.slogan, .dropdown-menu {
    height: fit-content;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.button {
    width: 100px;
    padding: 8px 16px;
    border-radius: 25px;
    background-color: #fff;
}

.display-row-scroll, .Activity-display, .Activity-list, .all-product-list, .product-list, .product-classification-card, .all-item-list {
    overflow-x: auto;
}

.Activity-list, .product-list, .product-classification-card, .all-product-list, .all-item-list {
    column-gap: 5vh;
}

.product-card {
    width: 200px;
    height: 300px;
    margin: auto;
    position: relative;
}

.product-card .img {
    width: 200px;
    height: 240px;
}

.classification-list {
    margin: 20px auto;
    column-gap: 10px;
}

.classification-option, .buy-btn-lg, .buy-btn-sm, .travel, .exile {
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 1px rgba(128, 128, 128, 0.438);
}

.classification-option:hover, .travel:hover, .exile:hover {
    background-color: rgb(227, 233, 238);
}

.info-display, .role-list, .inventory-list, .name, .money {
    width: fit-content;
    height: fit-content;
}

.role-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.role-card .img {
    height: 240px;
}

.quantity-input {
    display: flex;
    align-items: center;
}

.quantity-input button, .quantity-input input {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

.quantity-input input {
    text-align: center;
    padding: 5px;
    width: 50px;
}

.main-header {
    justify-content: space-between;
}

.main-header > *, .main-header > * > * {
    width: fit-content;
}

.main-header .h1 {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-weight: 700;
    font-optical-sizing: none;
}

.buy-btn-lg, .buy-btn-sm {
    border-radius: 5px;
    border: none;
    background-color: rgb(24, 121, 205);
    color: white;
    box-shadow: 0 0 1px rgba(128, 128, 128, 0.438);
}

.buy-btn-lg:hover, .buy-btn-sm:hover {
    background-color: rgb(21, 97, 159);
}

.product-info .product-image, .product-info .info {
    width: 50%;
    height: auto;
}

.product-info .info h1 {
    text-align: right;
}

/* 媒體查詢 */
@media screen and (max-width: 600px) {
    .colorful, .Activity-display, .display, .display + .slogan {
        margin: 0;
        height: fit-content;
    }

    .Activity-list .img {
        height: 200px;
    }
    footer{
        div{
            width: 100%
        }
    }
}

/* 整个滚动条 */
::-webkit-scrollbar {
    width: 8px;  /* 滚动条的宽度 */
    height: 8px; /* 滚动条的高度（对水平滚动条有效） */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background: #fbfdff; /* 轨道的背景颜色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #e9eaed; /* 滑块的背景颜色 */
}

/* 滚动条滑块悬停效果 */
::-webkit-scrollbar-thumb:hover {
    background: #d8dcdf; /* 滑块悬停时的背景颜色 */
}
