<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>魔法商店 | 購物車</title>
    <!-- 引入Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- 引入Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;900&family=Open+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <!-- 引入手刻 -->
    <link rel="stylesheet" href="../static/css/global.css">
    <style>
        .cart-item {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
        }
        .cart-total {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <header id="navbar"></header>
    <main class="container-fluid mt-5 mb-5 pt-5 pb-5" style="min-height: 80vh;">
        <div class="container-sm text-center mt-5 mb-5">
            <a href="store.html">繼續購物</a>
        </div>
        <div class="row">                       
            <div class="cart-item row col-8">
                <div class="col-12 d-flex justify-content-end" style="height: 30px;">
                    <button class id="selectAll">全選</button>
                    <button id="clearSelection">取消選取</button>
                    <button id="performAction">移除</button>
                </div>
                <div class="cart-item row col-12" id="shoppingCartList">
                    <img src="https://picsum.photos/1000" alt="商品图片" class="img-fluid col-2">
                    <div class="row col-10">
                        <a href="productInfo.html" class="text-size-12">商品名稱</a>
                        <input class="col-6" type="number" value="1" min="1">
                        <p class="col-6 text-right">總價: $10</p>
                    </div>
                    <!-- 使用类名而不是 id -->
                    <div class="cart-item row col-md-7 product">
                        <img src="https://picsum.photos/1000" alt="商品图片" class="img-fluid col-2">
                        <div class="row col-10">
                            <a href="productInfo.html" class="text-size-12">${product.name}</a>
                            <input class="col-6" type="number" value="1" min="1">
                            <p class="col-6 text-right">總價: $10</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 可以添加更多的 cart-item div来展示其他商品 -->

            <div class="col-md-4 bg-white">
                <h3 class="text-center">訂單摘要</h3>
                <div class="row">
                    <p class="col text-left">小計:</p> <p class="col text-right" id="subtotalElement"> $20</p>
                </div>
                <div class="row">
                    <p class="col text-left">運費:</p> <p class="col text-right" id="shippingElement"> $20</p>
                </div>
                <div class="row">
                    <p class="col text-left">稅款:</p> <p class="col text-right" id="taxElement"> $20</p>
                </div>
                <div class="row">
                    <p class="col text-left"><b>預估總金額:</b></p> <p class="col text-right" id="totalPrice"><b> $20</b></p>
                </div>
                <a href="shoppingCarPay.html" class="col-12 bg-primary btn text-white">結帳</a>
            </div>
        </div>
    </main>

    <footer>
    </footer>

    <script>
        // 全局变量存储产品数据
        let productsDataCache = null;

        // 在DOMContentLoaded事件中加载购物车商品
        document.addEventListener('DOMContentLoaded', () => {
            fetchProductsData().then(() => {
                const shoppingCartList = JSON.parse(localStorage.getItem('shoppingCartList')) || [];
                document.getElementById('shoppingCartList').innerHTML = ``;
                shoppingCartList.forEach(productName => {
                    const product = productsDataCache.find(p => p.name === productName);
                    if (product) {
                        displayCartItem(product, 1); // 假设每个商品数量为1
                    }
                });
            });
        });

        // 从JSON文件获取产品数据并缓存
        function fetchProductsData() {
            return fetch(`../json/ProductInformationSheet.json`)
                .then(response => response.json())
                .then(data => {
                    productsDataCache = data.products;
                })
                .catch(error => console.log('Error fetching products data:', error));
        }

        // 显示购物车商品
        function displayCartItem(product, quantity) {
            const shoppingCartList = document.getElementById('shoppingCartList');
            shoppingCartList.insertAdjacentHTML('beforeend', createCartItemHTML(product, quantity));

            document.querySelectorAll('product').forEach(item => {
                item.addEventListener('click', function() {
                    this.classList.toggle('selected');
                });
            });
            updateOrderSummary()
        }

        // 创建购物车项的HTML
        function createCartItemHTML(product, quantity) {
            return `
                <div class="cart-item row col-md-7 product active">
                    <img src="${product.image}" alt="商品图片" class="img-fluid col-2">
                    <div class="row col-10">
                        <a href="productInfo.html" class="text-size-12">${product.name}</a>
                        <input class="col-6" type="number" value="${quantity}" min="1">
                        <p class="col-6 text-right">總價: $${product.price * quantity}</p>
                    </div>
                </div>`;
        }

        function updateOrderSummary() {
            let orderSummary = JSON.parse(localStorage.getItem("orderSummary"));
            // 获取页面上的元素
            const subtotalElement = document.getElementById('subtotalElement');
            const shippingElement = document.getElementById('shippingElement');
            const taxElement = document.getElementById('taxElement');
            const totalElement = document.getElementById('totalPrice');

            // 更新元素的文本内容
            subtotalElement.textContent = `$${orderSummary.subtotal}`;
            shippingElement.textContent = `$${orderSummary.shipping}`;
            taxElement.textContent = `$${orderSummary.tax}`;
            totalElement.textContent = `$${orderSummary.total}`;
        }

        // document.getElementById('selectAll').addEventListener('click', function() {
        //     document.querySelectorAll('.item').forEach(item => {
        //         item.classList.add('selected');
        //     });
        // });

        // document.getElementById('clearSelection').addEventListener('click', function() {
        //     document.querySelectorAll('.item').forEach(item => {
        //         item.classList.remove('selected');
        //     });
        // });
            
        document.getElementById('performAction').addEventListener('click', function() {
            const selectedItems = document.getElementById('shoppingCartList');
            selectedItems.innerHTML=''
            localStorage.setItem("shoppingCartList", JSON.stringify([]));
            localStorage.setItem("orderSummary", JSON.stringify({subtotal:0,shipping:0,tax:0,total:0}));
             updateOrderSummary()
        });
    </script>
  <script type="module" src="../static/javaScript/main.js"></script>
    <!-- 引入Bootstrap JavaScript（可選） -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
