<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
  <!-- 引入Bootstrap CSS -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-sm open-sans bg-opacity-50">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html">
        <h1 class="note-sans-black logo text-center">艾格魯的店</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./store.html">STORE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./portfolio.html">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about.html">ABOUT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">TOOL</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./gpt.html">GPT</a></li>
              <li><a class="dropdown-item" href="#">API整合(敬請期待)</a></li>
              <li><a class="dropdown-item" href="#">圖像辨識(敬請期待)</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <script src="https://accounts.google.com/gsi/client" async></script>
  <div id="g_id_onload"
      data-client_id="YOUR_GOOGLE_CLIENT_ID"
      data-login_uri="https://your.domain/your_login_endpoint"
      data-auto_prompt="false">
  </div>
  <div class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left">
  </div>

  <!-- ================================================================================ -->
  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav> -->
  <!-- <form class="mb-3 mt-3">
                <div>
                    <label for="email" class="form-label">Forgot Password:</label>
                    <input type="email" class="form-control mt-2" id="email" placeholder="輸入您的信箱 Enter email" name="email">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Send Email</button>
            </form> -->

  <!-- <label for="email" class="form-label">信箱</label> -->
  <!-- <label for="pwd" class="form-label">密碼</label> -->

  <!-- <p class="mt-3">選擇伺服器</p>
                  <select class="form-select">
                      <option>台灣、香港</option>
                      <option>亞洲</option>
                      <option>大洋洲</option>
                      <option>美洲</option>
                  </select>
                          <form action="/action_page.php">
            <div class="mb-3 mt-3">
              <label for="comment">Comments:</label>
              <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
                                <form class="mb-3 mt-3">
                  <div>
                      <label for="email" class="form-label">Forgot Password:</label>
                      <input type="email" class="form-control mt-2" id="email" placeholder="輸入您的信箱 Enter email" name="email">
                  </div>
                  <button type="submit" class="btn btn-primary mt-2">Send Email</button>
              </form>
              <input type="text" class="form-control" placeholder="Normal input">
              <input type="text" class="form-control" placeholder="Disabled input" disabled>
              <input type="text" class="form-control" placeholder="Readonly input" readonly> -->
  <!-- <label for="email" class="form-label">信箱</label> -->
  <!-- <label for="pwd" class="form-label">密碼</label> -->

  <!-- <nav class="navbar navbar-expand-md sticky-top">
        <a class="navbar-brand" href="./index.html">
            <img src="../static/img/107270.jpg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            <h1 class="note-sans-black logo d-inline-block align-text-top border border-success shadow">魔術空間</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href=./index.html>HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=./store.html>STORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-circle" href=./portfolio.html>PORTFOLIO</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle rounded-top" 
                    href=./about.html role="button" data-bs-toggle="dropdown" 
                    **data-bs-hover="dropdown"** aria-expanded="false">ABOUT</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="dropdown-item nav-link" href="#">Action</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item nav-link" href="#">Another action</a>
                        </li>
                        <li class="nav-item">
                            <hr class="dropdown-divider">
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item nav-link" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>
            </ul>              
        </div>
    </nav>

    <div class="container row justify-content-center border display-center pt-5 pb-5">
        <h3 class="text-center">確認數量</h3>
        <form action="/action_page.php" class="col-4">
            <label for="customRange" class="form-label">Custom range</label>
            <input type="range" class="form-range" id="customRange" step="1" name="points" min="1" max="20" value="1">
            
            <div class="row justify-content-around mx-auto gap-3">
                <button type="button" class="btn btn-primary mt-3 col-4">Cancle</button>
                <button type="submit" class="btn btn-primary mt-3 col-4">OK</button>
            </div>
        </form>
    </div> -->

  <!-- List link botton -->
  <!-- <ul class="list-group">
    <li class="list-group-item active" aria-current="true">An item</li>
    <li class="list-group-item disabled" aria-disabled="true">A second item</li>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
    <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
</ul>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      The current link item
    </a>
    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
    <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
  </div>

<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      The current button
    </button>
    <button type="button" class="list-group-item list-group-item-action">A second button item</button>
    <button type="button" class="list-group-item list-group-item-action">A third button item</button>
    <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
    <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
  </div>

<ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul> -->

  <!-- 單選 -->
  <!-- <ul class="list-group">
    <li class="list-group-item">
      <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
      <label class="form-check-label" for="firstRadio">First radio</label>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
      <label class="form-check-label" for="secondRadio">Second radio</label>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
      <label class="form-check-label" for="thirdRadio">Third radio</label>
    </li>
  </ul> -->
  <!-- 多選 -->
  <!-- <ul class="list-group">
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="tainan" id="firstCheckboxStretched">
      <label class="form-check-label stretched-link" for="firstCheckboxStretched">台南</label>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="taichung" id="secondCheckboxStretched">
      <label class="form-check-label stretched-link" for="secondCheckboxStretched">台中</label>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="taipei" id="thirdCheckboxStretched">
      <label class="form-check-label stretched-link" for="thirdCheckboxStretched">台北</label>
    </li>
  </ul>

  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Home</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Profile</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Messages</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Settings</a>
      </div>
    </div> -->
</body>

</html>