
/**/
.navbar {
    background-color: #007bff;
}

.navbar-brand {
    font-weight: 600;
    color: white;
}
.nav-link {
    color: white;
}
.card {
    margin: 10px;
}
.card-img-top {
    height: 180px
}
footer {
    background-color: #f8f9fa;
    text-align: center;
}
/**/

.hot-commodity{
    background-image: url(../img/DALL·E\ 2023-12-05\ 15.07.17\ -\ A\ wide\ futuristic\ cityscape\ blending\ technology\ and\ magic\ for\ a\ website\ background.\ The\ panoramic\ view\ showcases\ advanced\ skyscrapers\ with\ neon\ lights.png);
}
.AI{
    background-image: url(../img/DALL·E\ 2023-12-05\ 15.07.17\ -\ A\ wide\ futuristic\ cityscape\ blending\ technology\ and\ magic\ for\ a\ website\ background.\ The\ panoramic\ view\ showcases\ advanced\ skyscrapers\ with\ neon\ lights.png);
}
