*{
    padding: 0;/*內邊距*/
    margin: 0;/*外邊距*/
    border: 1px solid orange;
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    overflow-x: hidden; /* 防止在 body 上滾動 */
}

header{
    height: 80px;
    width: 100%;
    background-color:rgba(255, 255, 255);
    position:fixed;   
    padding: 0 5vh; 
}

/**/
.navbar {
    background-color: #007bff;
}

.navbar-brand {
    font-weight: 600;
    color: white;
}
.nav-link {
    color: white;
}
.card {
    margin: 10px;
}
.card-img-top {
    height: 180px
}
footer {
    background-color: #f8f9fa;
    text-align: center;
}
/**/

.container {
    color: white;
    height: 100vh;
    width: auto;
    background-image: url(images/IMG_1015.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0 auto;
}


.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/DALL·E\ 2023-12-05\ 15.31.21\ -\ A\ wide\,\ more\ lifelike\ image\ of\ a\ futuristic\ cityscape\ where\ technology\ and\ magic\ coexist\,\ suitable\ for\ a\ website\ background.\ The\ scene\ includes\ bustli.png");
}
.slogan{
    width: 100%;
    height: 300px;
}

.hot-commodity{
    background-image: url(../img/DALL·E\ 2023-12-05\ 15.07.17\ -\ A\ wide\ futuristic\ cityscape\ blending\ technology\ and\ magic\ for\ a\ website\ background.\ The\ panoramic\ view\ showcases\ advanced\ skyscrapers\ with\ neon\ lights.png);
}
.AI{
    background-image: url(../img/DALL·E\ 2023-12-05\ 15.07.17\ -\ A\ wide\ futuristic\ cityscape\ blending\ technology\ and\ magic\ for\ a\ website\ background.\ The\ panoramic\ view\ showcases\ advanced\ skyscrapers\ with\ neon\ lights.png);
}

/*另一份檔案*/

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

